*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ds{
    margin:
    40% 40%; 
    box-shadow:1px  0.5px 10px rgb(0, 0, 0) ;
    background-color: rgb(60, 25, 25);
}
div{
    margin-top: 25px;

}
.p1{
 color: rgb(0, 0, 0); 
 text-align: center;  
}
p{
    padding-top: 20px;
    box-shadow:1px,1px,1px,rgb(0, 0, 0) ;
    text-align: center;

}
.sguare{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 50, 28);
border: 5px solid black ;
text-align: center;
}
body{
background: url(1000_F_215042614_AoYsq7pkNUY8a7ubmCjlG7LGRmCr7x07.jpg);
}